*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    border: 0;
    vertical-align: baseline;

}
body{
    background-color: rgb(37, 35, 35);
}

.header{
    background-color: rgb(255, 255, 255);
    border: solid 25px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    color: rgb(37, 35, 35);
    
}
#trybe{
    height: 60px;
    width: 60px;
    float: left;
    
} 


h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: cascadia code;
    color: rgb(252, 227, 0);

}

h2 {
    color: rgb(37, 35, 35);
}

a{
    color: rgb(37, 35, 35);
}
a:hover{
    color: rgb(64, 70, 151)
}

   
.aling-photo{
    padding: 10px;
    
    
}

#foto {
    border: solid rgb(255, 255, 255);
    border-radius: 100%;    
    position: absolute;
    right: 40px;
    bottom: auto;
}


.description {
    color: aliceblue;
    font-size: 25px;
    padding-bottom: 2em;
    padding-top: 80px;
    padding-left: 2em;
    margin-right: 400px;
}

#descr{
    color: rgb(252, 227, 0);
    padding-bottom: 10px;
    padding-right: 300px;
}

strong {
    color: rgb(252, 227, 0);
}

button {
    border: solid 1px;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
    color: rgb(37, 35, 35);
    background-color: rgb(252, 227, 0);
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0.5px 0.5px 0 rgb(238, 228, 228), -2px 6px 0 black;

}

button:hover{
   background-color: rgb(255, 255, 255);
   
}

button:active {
    background-color: rgb(64, 70, 151);
    /*box-shadow: inset -2px 4px 0 #222;*/
   /* font-size: 18px;*/
 
    text-align: center;
}



#button-papo {
    padding: 2em;
    text-align:justify;
    padding-top: 5%;
    padding-left: 53%;
    padding-bottom: 00.5px;
}

.habs {
    
    padding-top: 3%;
    margin: 0;
    background-color: aliceblue;
    color: rgb(37, 35, 35);
}

#title-hab {
    color: rgb(37, 35, 35);
    text-align: center;
    font-size: 2em;
}

#lista-habs{
    padding-top: 4%;
    text-align: center;
    font-size: 90px;
    padding-bottom: 5%;
}

.fa-brands:hover{
    color: rgb(64, 70, 151);
    cursor: pointer;
}



#tittle-redes {
    padding-top: 4%;
    padding-bottom: 20px;
    text-align: center;
    font-family: cascadia code;
    color: rgb(252, 227, 0);
    font-size: 2em;
}

#redes{
    padding-top: 4%;
    font-size: 110px;
    padding-bottom: 5%;
    
    
}


.fa-linkedin{
    color: rgb(255, 255, 255);
}

.fa-github{
    color: rgb(255, 255, 255);
   

}

.fa-linkedin:active, .fa-github:active{
    font-size: 220px;
    transition-duration: initial;
}

#programming {
    width: 400px;
    position: absolute;
    right: 70%;
    padding-bottom: 5%
}


.contingente {
    background-color: rgb(185, 94, 94);
    border-radius: 8px;
    position: absolute;
    left: 60%;
    padding: 5%    
}

